// Colors
$theme-color: #BF0926;
$theme-color-alt: #d1e6ff;
$theme-color-light: rgba(238, 9, 41, 0.04);
$theme-color-black: #202020;
$theme-color-grey: #828282;
$theme-color-faint: #B3B3B3;
$theme-color-faint-1: #F8F8F8;
$theme-color-off-white: rgba(191, 9, 38, 0.01);
$theme-color-white: #f9f9f9;;
$theme-blue: #0091FF;
$theme-green: #05CD99;
$theme-green-light: rgba(5, 205, 153, 0.1);
;

// Fonts
$them-font: Notosans-Bold;
$them-font-2: Notosans;

// Font sizes
$theme-hero: 49px;
$theme-title: 44px;
$theme-header: 28px;
$theme-title-1: 24px;
$theme-regular: 16px;
$theme-small: 14px;
$theme-smaller: 12px;
$theme-tiny: 10px;
$theme-tinier: 8px;

// Line heights
$theme-line-hero: 99px;
$theme-line-title: 52px;
$theme-line-header: 42px;
$theme-line-title-1: 38px;
$theme-line-regular: 30px;
$theme-line-small: 25px;
$theme-line-smaller: 20px;
$theme-line-tiny: 18px;
$theme-line-tinier: 15px;

